{% extends "layout.html" %}
{% block title %}Account Confirmation{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <img src="{{ url_for('ackbox_theme.static', filename='images/icon-retina.png') }}" alt="Account Confirmation"/>
            </div>
        </div>
        <div class="col-xs-12 text-center pad25">
            <h4>You're almost there! Please confirm your email.</h4>
            <h5>An email has been sent to you. Please follow the instructions on that email in order to complete the registration.</h5>
            <br/>
            <p>If you haven't received anything, try <a href="{{ url_for('ackbox_security.reconfirmation', email=email) }}">resending</a> confirmation email.</p>
        </div>
    </div>
</div>
{% endblock %}
