<tr>
    <td class="content-block callout">
        Welcome to {{ config['ACKBOX_HTML_SITE_NAME'] }}!
    </td>
</tr>
<tr>
    <td class="content-block">
        Please confirm your email address by clicking the link below. This is a
        required step in order to complete your registration process.
    </td>
</tr>
<tr>
    <td class="content-block aligncenter">
        <a href="{{ confirmation_url }}" class="btn-primary">Confirm Email Address</a>
    </td>
</tr>
