<tr>
    <td class="content-block callout">
        Account recovery for {{ config['ACKBOX_HTML_SITE_NAME'] }}!
    </td>
</tr>
<tr>
    <td class="content-block">
        Our records indicate that you initiated the account recovery process.
    </td>
</tr>
<tr>
    <td class="content-block">
        If that process has been requested by you and you want to continue, please click on the link below.
    </td>
</tr>
<tr>
    <td class="content-block aligncenter">
        <a href="{{ recovery_url }}" class="btn-primary">Recover Your Account</a>
    </td>
</tr>
