{% extends "layout.html" %}
{% block title %}Account Login{% endblock %}
{% from "macros.html" import render_field %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <h2 class="page-header">Login</h2>
            <form action="" method="POST">
                {{ form.csrf_token }}
                {% if form.csrf_token.errors %}
                    <div class="alert alert-danger" role="alert">You have submitted an invalid CSRF token</div>
                {% endif %}
                {{ render_field(form.username, with_label=True, placeholder="Enter username") }}
                {{ render_field(form.password, with_label=True, placeholder="Enter password") }}
                {{ render_field(form.remember_me) }}
                <br/>
                <a href="{{ url_for('ackbox_security.forgotten') }}">Forgot your password?</a>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
