{% extends "layout.html" %}
{% block title %}Account Recovery{% endblock %}
{% from "macros.html" import render_field %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <h2 class="page-header">Reset Password</h2>
            <form action="" method="POST">
                {{ form.csrf_token }}
                {% if form.csrf_token.errors %}
                    <div class="alert alert-danger" role="alert">You have submitted an invalid CSRF token</div>
                {% endif %}
                {{ render_field(form.password, with_label=True, placeholder="Enter password (from 8 to 30 characters)") }}
                {{ render_field(form.confirm_password, with_label=True, placeholder="Confirm entered password") }}
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
