{% extends "layout.html" %}
{% block title %}Subscription Selection{% endblock %}
{% from "macros.html" import render_field %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <h2 class="page-header">Subscription</h2>
            <form action="" method="POST">
                {% for field in form %}
                    {% if field == form.csrf_token %}
                        {{ form.csrf_token }}
                        {% if form.csrf_token.errors %}
                            <div class="alert alert-danger" role="alert">You have submitted an invalid CSRF token</div>
                        {% endif %}
                    {% else %}
                        {{ render_field(field, with_label=True) }}
                    {% endif %}
                {% endfor %}
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
