{% if feature_text_filter_enabled %}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter entries like..." onkeypress="filterByTerm(this)" {% if feature_text_filter_term %}value="{{ feature_text_filter_term }}"{% endif %}>
    </div>
    <br/>

    <script>
    function filterByTerm(input) {
        if (this.event.which == '13') {
            addUrlParam("text", input.value);
        }
    }
    </script>
{% endif %}
