{% if feature_total_amount_enabled %}
    <tr style="background-color: #fcf8e3">
        <td colspan="{{ feature_total_amount_fields}}"></td>
        <td colspan="1"><b>Total</b></td>
        <td colspan="2"><b>{{ feature_total_amount_value|currency }}</b></td>
    </tr>
{% endif %}
