{% if feature_time_filter_enabled %}
    <select name="month" class="form-control" onchange="filterByTime(this)">
        {% for option in feature_time_filter_options %}
            <option value="{{ option }}" {% if option==feature_time_filter_term %}selected="selected"{% endif %}>Show items for {{ option }}</option>
        {% endfor %}
    </select>
    <br/>

    <script>
    function filterByTime(select) {
        addUrlParam("time", select.value);
    }
    </script>
{% endif %}
