{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% from "macros.html" import render_field %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ title }}</h3>
            {% if model_permissions.get('index') %}
                <a href="{{ url_for('ackbox_resources.%s' % actions.index_endpoint) }}" class="btn btn-info btn-xs" role="button">Show All</a>
            {% endif %}
            <br/>
            <br/>
            <form action="{{ url_for('ackbox_resources.%s' % actions.update_endpoint, model_id=model_id) }}" method="{{ http_method }}">
                {% for field in form %}
                    {% if field == form.csrf_token %}
                        {{ form.csrf_token }}
                        {% if form.csrf_token.errors %}
                            <div class="alert alert-danger" role="alert">You have submitted an invalid CSRF token</div>
                        {% endif %}
                    {% else %}
                        {{ render_field(field, with_label=True) }}
                    {% endif %}
                {% endfor %}
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
            <br/>
            {% if model_permissions.get('index') %}
                <a href="{{ url_for('ackbox_resources.%s' % actions.index_endpoint) }}" class="btn btn-info btn-xs" role="button">Show All</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
