{% extends "layout.html" %}{% block title %}{{ title }}{% endblock %}{% from "macros.html" import render_field %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ title }}</h3>

            {% include 'resources/features/feature_time_filter.html' %}
            {% include 'resources/features/feature_text_filter.html' %}

            {% if model_permissions.get('new') %}
                <a href="{{ url_for('ackbox_resources.%s' % actions.new_endpoint) }}" class="btn btn-success btn-xs" role="button">New</a>
            <br/>
            {% endif %}

            <table class="table table-striped table-hover resources-table">
                <thead>
                    <tr>
                    {% for field_name in model_fields %}
                        <th>{{ field_name.title() }}</th>
                    {% endfor %}
                    {% if model_permissions.get('show') %}
                        <th class="control-column"></th>
                    {% endif %}
                    {% if model_permissions.get('edit') %}
                        <th class="control-column"></th>
                    {% endif %}
                    {% if model_permissions.get('destroy') %}
                        <th class="control-column"></th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for item in model_items %}
                    <tr>
                    {% for key, value in item.items() %}
                        {% if key != 'id' %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                        {% if model_permissions.get('show') %}
                            <td><a href="{{ url_for('ackbox_resources.%s' % actions.show_endpoint, model_id=item['id']) }}" class="btn btn-info btn-xs" role="button">Show</a></td>
                        {% endif %}
                        {% if model_permissions.get('edit') %}
                            <td><a href="{{ url_for('ackbox_resources.%s' % actions.edit_endpoint, model_id=item['id']) }}" class="btn btn-warning btn-xs" role="button">Edit</a></td>
                        {% endif %}
                        {% if model_permissions.get('destroy') %}
                            <td><a onclick="deleteRecord('{{ url_for('ackbox_resources.%s' % actions.destroy_endpoint, model_id=item['id']) }}')" class="btn btn-danger btn-xs" role="button">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% include 'resources/features/feature_total_amount.html' %}
                </tbody>
            </table>

            {% if model_permissions.get('new') %}
                <a href="{{ url_for('ackbox_resources.%s' % actions.new_endpoint) }}" class="btn btn-success btn-xs" role="button">New</a>
            <br/>
            {% endif %}

            {% include 'resources/features/feature_pagination.html' %}

            <script>
            function deleteRecord(url) {
                if (confirm("Are you sure you want to delete this record?")) {
                    var csrf_token = "{{ csrf_token() }}";
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                            }
                        }
                    });
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            location.reload();
                        },
                        error: function (data) {
                            alert(data.result);
                        }
                    });
                }
            }
            function addUrlParam(inKey, inValue) {
                var key = encodeURIComponent(inKey);
                var value = encodeURIComponent(inValue);
                var kvp = key + "=" + value;
                var params = '?' + kvp;
                var search = document.location.search;
                if (search) {
                    params = search.replace(new RegExp('([?&])' + key + '[^&]*'), '$1' + kvp);
                    if (params === search) {
                        params += '&' + kvp;
                    }
                }
                document.location.search = params;
            }
            </script>
        </div>
    </div>
</div>
{% endblock %}
