{% extends "layout.html" %}{% block title %}{{ title }}{% endblock %}{% from "macros.html" import render_field %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ title }}</h3>
            {% if model_permissions.get('index') %}
                <a href="{{ url_for('ackbox_resources.%s' % actions.index_endpoint) }}" class="btn btn-info btn-xs" role="button">Show All</a>
            {% endif %}
            {% if model_permissions.get('edit') %}
                <a href="{{ url_for('ackbox_resources.%s' % actions.edit_endpoint, model_id=model_item['id']) }}" class="btn btn-warning btn-xs" role="button">Edit</a>
            {% endif %}
            <br/>
            <br/>
            <table class="table table-striped">
                <tbody>
                {% for key, value in model_item.items() %}
                    <tr>
                    {% if key != 'id' %}
                        <th>{{ key.title() }}</th>
                        <td>{{ value }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if model_permissions.get('index') %}
                <a href="{{ url_for('ackbox_resources.%s' % actions.index_endpoint) }}" class="btn btn-info btn-xs" role="button">Show All</a>
            {% endif %}
            {% if model_permissions.get('edit') %}
                <a href="{{ url_for('ackbox_resources.%s' % actions.edit_endpoint, model_id=model_item['id']) }}" class="btn btn-warning btn-xs" role="button">Edit</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
