@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
}

section.row {
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "open sans", arial, sans-serif !important;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 15px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

ul {
    font-family: "open sans", arial, sans-serif;
    line-height: 1.6;
    font-weight: 100;
    font-size: 17px;
}

p {
    font-size: 17px;
    font-weight: 100;
    line-height: 1.7;
}

table td {
    display: table-cell;
    vertical-align: top;
}

table.borderless td,
table.borderless tr {
    border: none !important;
}

.progress {
    height: 21px;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
}

.navbar-form {
    margin-top: 5px;
    margin-bottom: 0px;
}

.navbar {
    border: none;
    min-height: 44px;
    max-height: 44px;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px !important;
}

.navbar-nav > li > a {
    padding-bottom: 11px;
    padding-top: 11px;
}

.navbar a {
    font-size: 15px;
}

.navbar a:hover {
    color: #a5d8c7 !important;
}

a.navbar-brand {
    font-family: "open sans", arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px !important;
}

.brand-img {
    width: 25px;
    margin-right: 5px;
}

.navbar-form {
    margin-top: 5px;
}

.main-container {
    margin-top: 44px;
    padding-bottom: 10px;
}

.footer {
    background: #18bc9c;
}

.footer .copyright {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}

.footer a {
    font-size: 1em !important;
    color: #d2ebe3;
}

.footer p {
    font-size: 0.9em !important;
    padding-top: 10px;
    color: #a5d8c7;
}

.form-group {
    margin-bottom: 0;
}

.control-label {
    margin-bottom: 5px;
    margin-top: 10px;
}

/*---------------------------------------------------------------------------*/
/* Pagination Settings                                                       */
/*---------------------------------------------------------------------------*/
.pagination-container {
    text-align: center;
}

.pagination-page-info {
    padding: 1px 1px 1px 0;
    width: 100%;
    margin: 0;
    font-size: 0.9em;
}

.pagination-page-info b {
    color: #777;
    background: #ccc;
    padding: 1px 5px;
    font-size: 1.5em;
}

/*---------------------------------------------------------------------------*/
/* Index Settings                                                            */
/*---------------------------------------------------------------------------*/
.callout {
    margin: 10px;
    margin-bottom: 100px;
    text-align: center;
}

/*---------------------------------------------------------------------------*/
/* Resources Settings                                                        */
/*---------------------------------------------------------------------------*/
.resources-table {
    font-size: 13px;
    margin-top: 10px;
}

.resources-table .control-column {
    width: 50px;
}

/*---------------------------------------------------------------------------*/
/* Padding Utils                                                             */
/*---------------------------------------------------------------------------*/
.pad90 {
    padding-top: 90px;
}

.pad45 {
    padding-top: 45px;
}

.pad30 {
    padding-top: 30px;
}

.pad25 {
    padding-top: 25px;
}

.pad20 {
    padding-top: 20px;
}

.pad15 {
    padding-top: 15px;
}

.pad10 {
    padding-top: 10px;
}

.pad5 {
    padding-top: 5px;
}

/*---------------------------------------------------------------------------*/
/* Navigation Bar in Responsive Mode                                         */
/*---------------------------------------------------------------------------*/
@media (max-width: 961px) {
    .navbar-collapse {
        background-color: #0f7864;
    }
}
