{% extends "layout.html" %}
{% block title %}Internal Error{% endblock %}
{% block body %}
<div class="container">
<div class="row">
    <div class="col-xs-12 page-header">
        <h1>Internal Error
          <small>Oops, something bad happened...</small>
        </h1>
        <p>What you were looking for is just not there.
        <p><a href="{{ url_for('web.index') }}">Go somewhere nice</a>
    </div>
</div>
</div>
{% endblock %}
