<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <style type="text/css" data-premailer='ignore'>
      @import url("https://fonts.googleapis.com/css?family=Open+Sans");
    </style>
    <style type="text/css">
        {{ css_content|safe }}
    </style>
</head>

<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap header">
                            <img alt="Logo image" class="header-img" src="{{ url_for('ackbox_theme.static', filename='images/logo-white@25.png', _external=True) }}"/>Ackbox <strong>{{ config['ACKBOX_HTML_SITE_CODE_NAME'] }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-wrap">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                {{ html_content|safe }}
                                <tr>
                                    <td class="content-block">
                                        &mdash; {{ config['ACKBOX_HTML_SITE_NAME'] }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter">Access now
                                <a href="http://{{ config['ACKBOX_HTML_URL'] }}">@{{ config['ACKBOX_HTML_SITE_NAME'] }}</a>.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>

</body>
</html>
