<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="google-site-verification" content="{{ config['ACKBOX_HTML_GOOGLE_SITE_VERIFICATION'] }}"/>

    <meta name="title" content="{% block title %}{{ config['ACKBOX_HTML_TITLE'] }}{% endblock %}"/>
    <meta name="description" content="{% block description %}{{ config['ACKBOX_HTML_DESCRIPTION'] }}{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}{{ config['ACKBOX_HTML_KEYWORDS'] }}{% endblock %}"/>
    <meta name="url" content="{% block url %}{{ config['ACKBOX_HTML_URL'] }}{% endblock %}"/>
    <meta name="author" content="{{ config['ACKBOX_HTML_SITE_NAME'] }}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ self.title() }}">
    <meta itemprop="description" content="{{ self.description() }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="{{ config['ACKBOX_HTML_SITE_NAME'] }}">
    <meta name="twitter:title" content="{{ self.title() }}">
    <meta name="twitter:description" content="{{ self.description() }}">
    <meta name="twitter:creator" content="{{ config['ACKBOX_HTML_SITE_NAME'] }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ self.title() }}"/>
    <meta property="og:type" content="og:product"/>
    <meta property="og:url" content="{{ self.url() }}"/>
    <meta property="og:description" content="{{ self.description() }}"/>
    <meta property="og:site_name" content="{{ config['ACKBOX_HTML_SITE_NAME'] }}"/>

    <title>{{ self.title() }}</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('ackbox_theme.static', filename='images/favicon.ico') }}"/>
    <link rel=stylesheet type=text/css href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
</head>
<body>
<!-- Navigation -->
<a href="#maincontent">Skip to main content</a>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Logo image"
                     class="brand-img"
                     src="{{ url_for('ackbox_theme.static', filename='images/logo-white@25.png') }}"/>
                Ackbox <strong>{{ config['ACKBOX_HTML_SITE_CODE_NAME'] }}</strong> </a>
        </div>
        {% include 'navigation.html' %}
    </div>
</nav>
<!-- /navigation -->
<div id="maincontent" class="main-container">
    {% include 'messages.html' %}
    {% block body %}{% endblock %}
    <div class="pad30"></div>
</div>
<footer>
    <div class="footer">
        <div class="container">
            <p class="pull-right"><a href="#top">Back to top</a></p>
            <p class="copyright"><strong>Ackbox</strong> - {{ config['ACKBOX_HTML_SITE_NAME'] }} @{{ config['ACKBOX_HTML_SITE_YEAR'] }}</p>
        </div>
    </div>
</footer>

{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% include 'analytics.html' %}

</body>
</html>
