{% macro render_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = kwargs.pop('placeholder', '') %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}has-warning{% endif %}">
        {% if field.type != 'BooleanField' and with_label %}
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text.title() }}{% if field.flags.required %} *{% endif %}:
            </label>
        {% endif %}

        {% set class_ = kwargs.pop('class_', '') %}
        {% if field.flags.required %}
            {% set class_ = class_ + ' required' %}
        {% endif %}

        {% if field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            </div>

        {% else %}

            {% if field.type in ('StringField', 'TextField', 'TextAreaField', 'PasswordField', 'NoneStringField', 'IntegerField', 'DecimalField', 'FloatField', 'IntField') %}
                {% set class_ = class_ + ' input form-control' %}
            {% elif field.type == 'DateTimeField' %}
                {% set class_ = class_ + ' date-input input form-control' %}
            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file input form-control' %}
            {% endif %}

            {% if field.type in ('SelectField', 'ModelSelectField') %}
                {{ field(class_=class_ + ' input form-control', **kwargs) }}
            {% else %}
                {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {% endif %}

        {% endif %}
        {% if field.errors %}
            <span class="error help-block">{{ field.errors|join(', ') }}</span>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    </div>
{%- endmacro %}
