{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container" role="alert">
    <div class="row">
        <div class="col-xs-12">
            <div class="message-panel">
                {% for category, message in messages %}
                    {% if category == 'message' %}
                        <div class="alert alert-success">
                    {% else %}
                        <div class="alert alert-{{ category }}">
                    {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endwith %}
